* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient( to bottom, red, rgb(17, 77, 241));
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: cornsilk;
}

header img {
    width: 100%;
    height: 300px;
    display: block;
}

nav {
    overflow: hidden;
}



a.menu {
    display: block;
    width: 25%;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: darkcyan;
    padding: 15px 30px;
    transition: all 0.75s ease;
}
a.active {
    background-color: crimson;
}
a.menu:hover {
    background-color: rgb(196, 0, 0);
    cursor: pointer;
}

@media(max-width:800px) {
    nav a.menu {
        width: 50%;
    }
}

@media(max-width:500px) {
    nav a.menu {
        width: 100%;
    }
}



article {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0 20px;
}

article h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding: 15px;
    border-bottom: 2px solid crimson;
}

img.left {
    float: left;
    margin: 0px 10px 10px 0;
    padding: 10px;
    width: 25%;
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
    filter: brightness(110%);

}
img.left:hover{
    filter: brightness(100%);
    transform: scale(1.25);
    clip-path: polygon(52% 97%, 9% 43%, 7% 37%, 9% 32%, 12% 28%, 15% 24%, 20% 21%, 25% 21%, 31% 21%, 35% 23%, 38% 26%, 41% 29%, 43% 34%, 46% 38%, 47% 41%, 49% 36%, 50% 32%, 53% 28%, 56% 23%, 59% 21%, 63% 20%, 67% 21%, 69% 22%, 73% 24%, 75% 27%, 78% 30%, 78% 33%, 79% 36%, 79% 39%, 78% 43%);
}
article p {
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    padding: 15px 0px;
}

iframe {
    width: 100%;
}

footer {
    height: 40px;
    background-color: darkcyan;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
}